@page
@model ContactTracing.Pages.Doses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dose</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dose.dateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dose.dateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dose.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dose.Account.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dose.VaccineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dose.VaccineType.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Dose.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
